@model List<UrunResmiDataModel>

<div class="modal fade" id="exLargeModalresim" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">Laptop Ekle/Düzenle</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form asp-action="LaptopResimAddUpdate" asp-controller="Laptop" method="post" enctype="multipart/form-data">

                <input type="hidden" name="Id" id="resimId" />
                <input type="hidden" name="LaptopId" id="laptopid" />

                <div class="modal-body">
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="frmResimUrl1" class="form-label fw-bold">RESİM 1</label>
                            <input type="file" name="ResimUrl" id="frmResimUrl1" class="form-control" />
                        </div>
                        <div class="col mb-0">
                            <div class="col mb-0">
                                <label for="frmResimUrl2" class="form-label fw-bold">RESİM 2</label>
                                <input type="file" name="ResimUrl" id="frmResimUrl2" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="frmResimUrl3" class="form-label fw-bold">RESİM 3</label>
                            <input type="file" name="ResimUrl" id="frmResimUrl3" class="form-control" />
                        </div>
                        <div class="col mb-0">
                            <div class="col mb-0">
                                <label for="frmResimUrl4" class="form-label fw-bold">RESİM 4</label>
                                <input type="file" name="ResimUrl" id="frmResimUrl4" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Kapat
                    </button>
                    <button type="submit" class="btn btn-dark">Kaydet</button>
                </div>

            </form>

        </div>
    </div>
</div>

@section AECScript {

    <script type="text/javascript">

        function addModal2() {

            $('#resimId').val('0');
            $('#frmResimUrl1').val('');
            $('#frmResimUrl2').val('');
            $('#frmResimUrl3').val('');
            $('#frmResimUrl4').val('');

        }

    </script>

}