
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li style="text-transform:none;font-size:20px;">GİZLİLİK POLİTİKASI</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div class="container">
    <br />
    <div class="row text-center" style="color:black;">
        <br />
        <h5>
            AECommerce olarak, kullanıcılarımızın gizliliğine ve kişisel verilerinin korunmasına büyük önem veriyoruz.
            Bu gizlilik politikası, AECommerce üzerinden toplanan kişisel verilerin nasıl işlendiğini, kullanıldığını,
            korunduğunu ve paylaşıldığını açıklamaktadır.
            AECommerce platformunu kullanarak bu gizlilik politikasını kabul etmiş sayılırsınız.
        </h5>
    </div>
    <div class="row" style="color:black;">
        <br />
        <br />
        <h3>1. Toplanan Veriler</h3>
        <h5>
            AECommerce, sunduğumuz hizmetlerden faydalandığınızda sizden farklı türlerde veriler toplayabilir. Bu veriler, aşağıdaki kategorilerde toplanır:
        </h5>
        <h4>a. Kişisel Bilgiler</h4>
        <h5>
            > İsim, soyisim
            <br />
            > E-posta adresi
            <br />
            > Telefon numarası
            <br />
            > Adres bilgileri
            <br />
            > Ödeme ve fatura bilgileri (kredi kartı bilgileri gibi)
        </h5>
        <h4>b. Otomatik Olarak Toplanan Veriler</h4>
        <h5>
            > IP adresi
            <br />
            > Cihaz bilgileri (tarayıcı türü, işletim sistemi gibi)
            <br />
            > Çerezler (cookies) aracılığıyla elde edilen bilgiler
            <br />
            > Web sitemizi nasıl kullandığınıza dair kullanım verileri (sayfa ziyaretleri, tıklama geçmişi vb.)
        </h5>
        <h4>c. Üçüncü Taraflardan Alınan Veriler</h4>
        <h5>
            AECommerce, iş ortaklarımız veya sosyal medya platformları gibi üçüncü taraf kaynaklardan da bazı verileri alabilir. Bu veriler, kullanıcı deneyimini iyileştirmeye ve kişiselleştirilmiş hizmet sunmaya yardımcı olur.
        </h5>
        <h3>2. Verilerin Kullanım Amacı</h3>
        <h5>
            Topladığımız veriler, sizlere daha iyi bir hizmet sunmak ve AECommerce platformunun işleyişini sürdürmek amacıyla kullanılır. Bu doğrultuda verilerinizi şu amaçlar için kullanıyoruz:
        </h5>
        <h5>
            > Sipariş işlemlerini gerçekleştirmek ve sipariş durumlarını takip etmek.
            <br />
            > Müşteri hizmetleri taleplerine yanıt vermek.
            <br />
            > Kişiselleştirilmiş ürün önerileri sunmak.
            <br />
            > Web sitemizin performansını ve kullanıcı deneyimini iyileştirmek.
            <br />
            > Pazarlama ve kampanya bilgilerini paylaşmak (önceden izniniz alındıysa).
            <br />
            > Kullanıcı hesabınızı oluşturmak, yönetmek ve güncellemek.
            <br />
            > Yasal yükümlülüklerimize uymak ve sahtecilikle mücadele etmek.
        </h5>
        <h3>3. Verilerin Paylaşılması</h3>
        <h5>AECommerce, kişisel verilerinizi üçüncü taraflarla yalnızca aşağıda belirtilen durumlarda paylaşır:</h5>
        <h4>a. Hizmet Sağlayıcılar</h4>
        <h5>
            > Ödeme işlemcileri ve finansal kuruluşlar
            <br />
            > Kargo ve lojistik firmaları
            <br />
            > E-posta ve pazarlama hizmeti sağlayıcıları
            <br />
            > Web sitemizin güvenliği ve işleyişi için gerekli olan teknik hizmet sağlayıcılar
        </h5>
        <h4>b. Yasal Yükümlülükler</h4>
        <h5>
            Kişisel verileriniz, yalnızca yürürlükteki yasalar ve düzenlemeler gerektirdiği takdirde yetkili kurumlarla paylaşılır. Bu tür bir paylaşım, mahkeme kararları, emniyet güçleri talepleri veya hukuki süreçlerle sınırlıdır.
        </h5>
        <h4>c. İş Transferleri</h4>
        <h5>
            AECommerce'in tamamının veya bir kısmının başka bir şirkete devredilmesi, birleşmesi veya satılması durumunda, kullanıcı verileri de bu devrin bir parçası olabilir. Böyle bir durumda tarafınıza bilgilendirme yapılacaktır.
        </h5>
        <h3>4. Çerezlerin (Cookies) Kullanımı</h3>
        <h5>
            AECommerce web sitesi, kullanıcı deneyimini iyileştirmek ve sitemizi daha verimli hale getirmek için çerezleri kullanır. Çerezler, tarayıcınıza yerleştirilen küçük metin dosyalarıdır ve aşağıdaki amaçlarla kullanılır:
        </h5>
        <h5>
            > Sitenin düzgün çalışmasını sağlamak.
            <br />
            > Ziyaretçi davranışlarını analiz etmek ve site trafiğini izlemek.
            <br />
            > Kişiselleştirilmiş içerik ve reklam sunmak.
        </h5>
        <h5>
            Çerez tercihlerinizi tarayıcı ayarlarınızdan yönetebilir veya çerezleri tamamen devre dışı bırakabilirsiniz. Ancak, çerezlerin kapatılması web sitemizin bazı özelliklerinin düzgün çalışmamasına yol açabilir.
        </h5>
        <h3>5. Verilerin Saklanması ve Güvenliği</h3>
        <h5>
            Kişisel verileriniz, AECommerce'in güvenli sunucularında saklanır. Verilerinizi korumak için gerekli tüm teknik ve organizasyonel tedbirleri alıyoruz. Bu tedbirler arasında şifreleme, güvenlik duvarları, düzenli güvenlik taramaları ve erişim kontrolleri yer alır. Kişisel verileriniz, yalnızca işbu gizlilik politikasında belirtilen amaçlar için gerekli olduğu süre boyunca saklanır.
        </h5>
        <h3>6. Kullanıcı Hakları</h3>
        <h5>
            Kullanıcılarımız, kişisel verilerinin işlenmesi ile ilgili olarak çeşitli haklara sahiptir. Bu haklar, aşağıda belirtilmiştir:
        </h5>
        <h5>
            > Bilgi Talep Etme Hakkı: Kişisel verilerinizin işlenip işlenmediğine dair bilgi talep edebilirsiniz.
            <br />
            > Düzeltme Hakkı: Yanlış veya eksik verilerinizi düzeltilmesini isteyebilirsiniz.
            <br />
            > Silme Hakkı: Belirli durumlarda, kişisel verilerinizin silinmesini talep edebilirsiniz.
            <br />
            > İşleme Sınırlandırma Hakkı: Kişisel verilerinizin işlenmesini sınırlamayı talep edebilirsiniz.
            <br />
            > Veri Taşınabilirliği Hakkı: Verilerinizi yapılandırılmış, yaygın olarak kullanılan bir formatta başka bir sağlayıcıya taşıma hakkına sahipsiniz.
            <br />
            > İtiraz Hakkı: Kişisel verilerinizin belirli koşullar altında işlenmesine itiraz edebilirsiniz.
        </h5>
        <h5>Bu haklarınızı kullanmak isterseniz, bizimle aşağıda belirtilen iletişim bilgileri üzerinden irtibata geçebilirsiniz.</h5>
        <h3>7. Üçüncü Taraf Bağlantıları</h3>
        <h5>
            AECommerce, diğer web sitelerine bağlantılar içerebilir. Bu bağlantılar üzerinden erişilen sitelerin gizlilik uygulamalarından AECommerce sorumlu değildir. Üçüncü taraf sitelerin gizlilik politikalarını incelemenizi öneririz.
        </h5>
        <h3>8. Gizlilik Politikasında Değişiklikler</h3>
        <h5>
            AECommerce, işbu gizlilik politikasını zaman zaman güncelleyebilir. Gizlilik politikamızda yapılacak önemli değişiklikler web sitemiz üzerinden duyurulacaktır. Politika değişikliklerinden haberdar olmak için bu sayfayı düzenli olarak kontrol etmenizi öneririz.
        </h5>
        <br />
        <br />
    </div>
</div>

@section AECScript {

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var messageBox = '@TempData["MessageBox"]';
            if (messageBox == 4) {
                MessageBox("success", "Ürün Favorilere Eklendi");
            }
            else if (messageBox == 5) {
                MessageBox("success", "Ürün Favorilerden Çıkarıldı");
            }
            else if (messageBox == 6) {
                MessageBox("success", "Ürün Sepete Eklendi");
            }
            else if (messageBox == 7) {
                MessageBox("success", "Ürün Sepetten Çıkarıldı");
            }
            else if (messageBox == 8) {
                MessageBox("success", "Tüm Favoriler Sepete Eklendi!!");
            }
            else if (messageBox == 9) {
                MessageBox("success", "Tüm Favoriler Silindi!!");
            }
            else if (messageBox == 10) {
                MessageBox("success", "Tüm Sepet Silindi!!");
            }
        });

    </script>

}