@model HakkimizdaDataModel

<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li style="text-transform:none;font-size:20px;">HAKKIMIZDA</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div class="container">
    <div class="row">
        <br />
        <h4 class="text-center" style="color:black;">
            AECommerce, teknoloji meraklıları ve profesyoneller için yüksek performanslı bilgisayarlar ve donanım ekipmanlarının satışını yapan,
            güvenilir bir e-ticaret platformudur. Biz, müşterilerimizin dijital dünyada ihtiyaç duydukları tüm bilgisayar bileşenlerini ve
            aksesuarlarını bir arada sunarak teknoloji alışverişini daha kolay, güvenilir ve keyifli hale getiriyoruz.
        </h4>
    </div>
    <br />
    <br />
    <div class="row text-center" style="color:black;">
        <h3>Vizyonumuz</h3>
        <br />
        <h5>@Model.Vizyon</h5>
    </div>
    <br />
    <br />
    <div class="row text-center" style="color:black;">
        <h3>Misyonumuz</h3>
        <br />
        <h5>@Model.Misyon</h5>
    </div>
    <br />
    <br />
    <div class="row text-center" style="color:black;">
        <h3>Hikayemiz</h3>
        <br />
        <h5>@Model.Hikaye</h5>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>

@section AECScript {

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var messageBox = '@TempData["MessageBox"]';
            if (messageBox == 4) {
                MessageBox("success", "Ürün Favorilere Eklendi");
            }
            else if (messageBox == 5) {
                MessageBox("success", "Ürün Favorilerden Çıkarıldı");
            }
            else if (messageBox == 6) {
                MessageBox("success", "Ürün Sepete Eklendi");
            }
            else if (messageBox == 7) {
                MessageBox("success", "Ürün Sepetten Çıkarıldı");
            }
            else if (messageBox == 8) {
                MessageBox("success", "Tüm Favoriler Sepete Eklendi!!");
            }
            else if (messageBox == 9) {
                MessageBox("success", "Tüm Favoriler Silindi!!");
            }
            else if (messageBox == 10) {
                MessageBox("success", "Tüm Sepet Silindi!!");
            }
        });

    </script>

}