
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li style="text-transform:none;font-size:20px;">ŞARTLAR VE KOŞULLAR</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div class="container">
    <div class="row" style="color:black;">
        <br />
        <br />
        <h3>Şartlar ve Koşullar</h3>
        <h4>a. Kullanım Koşulları</h4>
        <h5>AECommerce’e erişim sağlayarak veya sitemizde alışveriş yaparak, aşağıda belirtilen şartlar ve koşulları kabul etmiş sayılırsınız. Bu şartlar, AECommerce hizmetlerinin kullanımını ve sunulan ürünlerin satın alınmasını düzenler.</h5>

        <h4>b. Üyelik ve Hesap Güvenliği</h4>
        <h5>AECommerce üzerinden alışveriş yapmak için bir kullanıcı hesabı oluşturmanız gerekmektedir. Üyelik sırasında sağladığınız bilgilerin doğru ve eksiksiz olduğundan emin olmalısınız. Hesap bilgilerinizin güvenliğini sağlamak sizin sorumluluğunuzdadır ve hesabınız üzerinden yapılan tüm işlemlerden siz sorumlu olursunuz.</h5>

        <h4>c. Fiyatlandırma ve Ürün Bilgileri</h4>
        <h5>AECommerce üzerindeki tüm ürünlerin fiyatları ve stok durumları güncellenmiş olarak sunulmaktadır. Ancak, teknik hatalar veya güncelleme gecikmeleri nedeniyle ürün fiyatları veya stok bilgileri yanlış görüntülenebilir. Bu tür durumlarda siparişinizi iptal etme hakkımız saklıdır.</h5>

        <h4>d. Fikri Mülkiyet Hakları</h4>
        <h5>AECommerce'de yer alan tüm görseller, logolar, grafikler, metinler ve diğer içerikler, AECommerce'in veya içerik sağlayıcılarının mülkiyetindedir ve fikri mülkiyet yasaları ile korunmaktadır. AECommerce'deki içerikleri, ticari amaçlarla kopyalamak, çoğaltmak veya kullanmak yasaktır.</h5>

        <h4>e. Sorumluluğun Sınırlandırılması</h4>
        <h5>AECommerce, sunduğu hizmetlerin kesintisiz ve hatasız çalışacağını garanti etmez. Web sitemizin kullanımından kaynaklanabilecek doğrudan veya dolaylı zararlar, kâr kaybı, veri kaybı gibi durumlardan AECommerce sorumlu tutulamaz.</h5>

        <h3>Sipariş ve Ödeme Koşulları</h3>

        <h4>a. Sipariş Onayı</h4>
        <h5>Siparişiniz, ödemenizin başarılı bir şekilde tamamlanmasının ardından tarafımızca onaylanır. AECommerce, stok durumu veya diğer nedenlerle siparişleri reddetme veya iptal etme hakkını saklı tutar. Sipariş iptali durumunda tarafınıza bilgilendirme yapılır ve ödemeniz geri iade edilir.</h5>

        <h4>b. Ödeme Yöntemleri</h4>
        <h5>AECommerce, kredi kartı, banka kartı ve çeşitli diğer ödeme yöntemleri ile ödeme kabul eder. Tüm ödemeler güvenli ödeme sağlayıcıları aracılığıyla işlenir ve kart bilgileriniz AECommerce tarafından saklanmaz.</h5>

        <h4>c. Vergilendirme</h4>
        <h5>Ürün fiyatlarına KDV dahildir. Siparişinizin teslim edileceği bölgeye göre ek gümrük vergileri veya harçlar uygulanabilir. Bu tür ek masraflar müşterinin sorumluluğundadır.</h5>

        <h3>İade ve İptal Koşulları</h3>

        <h4>a. İptal Politikası</h4>
        <h5>Siparişinizi, kargoya verilmeden önce iptal edebilirsiniz. Sipariş iptali için "Hesabım" bölümünden iptal talebi oluşturabilir veya müşteri hizmetlerimiz ile iletişime geçebilirsiniz.</h5>

        <h4>b. İade Şartları</h4>
        <h5>AECommerce'den satın aldığınız ürünleri, teslim aldıktan sonra 14 gün içinde iade edebilirsiniz. İade işlemi için ürünün kullanılmamış, orijinal ambalajında ve eksiksiz olması gerekmektedir. Detaylı iade politikamızı "İade ve Değişim" sayfasında bulabilirsiniz.</h5>

        <h3>Kullanıcı Sorumlulukları</h3>

        <h4>a. Doğru Bilgi Sağlama</h4>
        <h5>Kullanıcı olarak, AECommerce üzerinde gerçekleştirdiğiniz tüm işlemler için doğru ve güncel bilgi sağlamakla yükümlüsünüz. Yanıltıcı bilgi vermek, hizmetlere zarar vermek veya dolandırıcılık girişiminde bulunmak yasaktır ve yasal sonuçlar doğurabilir.</h5>

        <h4>b. Uygunsuz Kullanım</h4>
        <h5>AECommerce platformunu kullanırken, diğer kullanıcıların deneyimini olumsuz etkileyen, yasalara aykırı veya zararlı davranışlarda bulunmamakla yükümlüsünüz. AECommerce, bu tür durumlarda hesabınızı askıya alma veya kapatma hakkını saklı tutar.</h5>

        <h3>Yasal Uyuşmazlıklar</h3>

        <h4>a. Geçerli Hukuk</h4>
        <h5>İşbu şartlar ve koşullar, Türkiye Cumhuriyeti yasalarına tabidir. Kullanıcılar ve AECommerce arasında doğabilecek her türlü uyuşmazlık, İstanbul Mahkemeleri ve İcra Daireleri tarafından çözümlenecektir.</h5>

        <h4>b. İhtilafların Çözümü</h4>
        <h5>Herhangi bir uyuşmazlık durumunda, kullanıcılar öncelikle AECommerce müşteri hizmetleri ile iletişime geçerek dostane bir çözüm bulmaya çalışmalıdır. Anlaşmazlık çözülmezse, yasal yollara başvurulabilir.</h5>

        <h3>Değişiklikler</h3>

        <h4>a. Şartlar ve Koşulların Güncellenmesi</h4>
        <h5>AECommerce, işbu şartlar ve koşulları dilediği zaman güncelleme hakkını saklı tutar. Yapılacak değişiklikler, sitemiz üzerinden duyurulacak ve kullanıcıların bu değişikliklerden haberdar olması sağlanacaktır. Kullanıcıların, sitemizi kullanmaya devam etmesi, güncellenen şartları kabul ettiği anlamına gelir.</h5>
        <br />
        <br />
    </div>
</div>

@section AECScript {

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var messageBox = '@TempData["MessageBox"]';
            if (messageBox == 4) {
                MessageBox("success", "Ürün Favorilere Eklendi");
            }
            else if (messageBox == 5) {
                MessageBox("success", "Ürün Favorilerden Çıkarıldı");
            }
            else if (messageBox == 6) {
                MessageBox("success", "Ürün Sepete Eklendi");
            }
            else if (messageBox == 7) {
                MessageBox("success", "Ürün Sepetten Çıkarıldı");
            }
            else if (messageBox == 8) {
                MessageBox("success", "Tüm Favoriler Sepete Eklendi!!");
            }
            else if (messageBox == 9) {
                MessageBox("success", "Tüm Favoriler Silindi!!");
            }
            else if (messageBox == 10) {
                MessageBox("success", "Tüm Sepet Silindi!!");
            }
        });

    </script>

}